<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/img/feedback.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="motto text-center">
                <h3>Feedback is the breakfast of champions.</h3>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Share your thoughts with us.</h2>
                    <form class="contact-form" [formGroup]="feedbackForm">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus===true,'has-error':feedbackForm.controls['name'].invalid && (feedbackForm.controls['name'].dirty || feedbackForm.controls['name'].touched)}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="nc-icon nc-single-02"></i></span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="name" placeholder="Name"
                                        (focus)="focus=true" (blur)="focus=false">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group" [ngClass]="{'input-group-focus':focus1===true,'has-error':feedbackForm.controls['email'].invalid && (feedbackForm.controls['email'].dirty || feedbackForm.controls['email'].touched)}">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"> <i class="nc-icon nc-email-85"></i></span>
                                    </div>
                                    <input type="text" class="form-control" formControlName="email" placeholder="Email"
                                        (focus)="focus1=true" (blur)="focus1=false">
                                </div>
                            </div>
                        </div>
                        <label>Rating</label>
                        <div class="row">
                            <div class="col-md-6">
                                <ngb-rating [(rate)]="feedbackForm?.value.rating" formControlName="rating">
                                    <ng-template let-fill="fill" let-index="index">
                                        <span class="star" [class.filled]="fill === 100" [class.bad]="index < 3"
                                            [class.good]="index >= 3 && index <7"
                                            [class.excellent]="index >= 7">&#9733;</span>
                                    </ng-template>
                                </ngb-rating>
                            </div>
                            <div class="col-md-6">
                                <p class="text-success" *ngIf="feedbackForm?.value.rating > 7">Excellent</p>
                                <p class="text-info"
                                    *ngIf="feedbackForm?.value.rating <= 7 && feedbackForm?.value.rating >= 4">Good</p>
                                <p class="text-danger" *ngIf="feedbackForm?.value.rating < 4">Bad</p>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" [ngClass]="{'has-error':feedbackForm.controls['message'].invalid && (feedbackForm.controls['message'].dirty || feedbackForm.controls['message'].touched)}" formControlName="message" rows="4"
                            placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-8 mr-auto ml-auto text-center">
                                <button class="btn btn-success"  [disabled]="feedbackForm.invalid" (click)="sendFeedback()">
                                    <i class="fa fa-spinner fa-spin" *ngIf="loader"></i>
                                    Send
                                    Feedback </button>
                            </div>
                            <div class="col-md-8 mr-auto ml-auto text-center text-success" *ngIf="message!=''">
                                <hr>
                                {{message}}
                            </div>
                            <div class="col-md-8 mr-auto ml-auto text-center text-danger" *ngIf="errmessage!=''">
                                <hr>
                                {{errmessage}}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>