<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true"
        style="background-image: url('./assets/img/guiniting.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="motto text-center">
                <h3>Let's talk about us</h3>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h5 class="description">
                        <p>Established in the year 1978 we, "Shree Jay Hanuman Contractors", are counted among the
                            prominent business entities engaged in rendering unparalleled Airless Spray Painting
                            Service, Guniting Service, Fireproofing Service, Blasting Service etc. The services offered
                            by us are rendered in strict accordance with the global quality standards by employing
                            modern tools & genuine techniques. Further, we have employed adroit professionals who keep a
                            strict watch on the entire execution process to assure defect-free & flawless services.
                            Owing to this, our services are widely demanded in diverse commercial & industrial sectors
                            for cleaning & removing surface irregularities. Further, the services offered by us are
                            acknowledged by the clients for effectiveness, reliability, personalized approach & timely
                            execution.</p>
                        <p>For the systematic & streamlined operation of business activities, we focus towards attaining
                            the utmost satisfaction pf the clients. Henceforth, we have employed a deft team of expert
                            professionals who frequently communicate with the clients to know their exact requirements &
                            serve them accordingly. Owing to this, We have been successful in wining the faith of a
                            large number of customers all across the nation. Some of the major clients associated with
                            us are G R Engineering Pvt Ltd, Sansakar Engineering Works, Pratibha Works Pvt Ltd and
                            Octamac Building System, to name a few. Additionally, we practice fair business deals and
                            provide easy payment options to the customers. Counting on our timely execution, reliable &
                            cost effective services and personalized approach, we have been able to earn a reputed
                            position in the market.</p>
                        <p>Under the able guidance of our mentor, "Mr. K. G. Gajre", we have been able to carve a
                            special niche for the organization in this domain. Owing to his excellent managerial skills,
                            positive attitude, encouraging persona and fascinating business decisions, we have been able
                            render effective customer service.</p>
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="section section-dark text-center">
        <div class="container">
            <h2 class="title">Shree Jay Hanuman Contractors</h2>
            <div class="row">
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-single-02"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Mr. Khanderao G. Gajare</h4>
                            <p>Proprietor</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-single-02"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Mr. Ravi K. Gajare</h4>
                            <p>Partner</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info">
                        <div class="icon icon-danger">
                            <i class="nc-icon nc-single-02"></i>
                        </div>
                        <div class="description">
                            <h4 class="info-title">Mr. Shashikant K. Gajare</h4>
                            <p>Partner</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>