<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/cover.jpg')">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="title-brand">
                    <h1 class="presentation-title">It’s What We Do</h1>
                </div>

                <h2 class="presentation-subtitle text-center">A solid project will be found when you have our crew
                    around.</h2>
            </div>
        </div>
        <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
    </div>
    <div class="main">
        <div class="section text-center">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 mr-auto ml-auto">
                        <h2 class="title">Let's talk product</h2>
                        <h5 class="description">Being a client centric organization, we have been successful in catering
                            to the diversified demands of the customers in the best possible manner. No stone is left
                            unturned to achieve the utmost contentment of the clients. Henceforth, we follow ethical
                            trade practices, fair business deals and provide the customers with flexible transaction
                            options.</h5>
                        <br>
                        <a [routerLink]="['/details']" class="btn btn-danger btn-round">See Details</a>
                    </div>
                </div>
                <br /><br />
                <div class="row">
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-alert-circle-i"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Services</h4>
                                <p class="description">We can fast track your project and offer cost-saving solutions to
                                    meet your budget goals.</p>
                                <a [routerLink]="['/services']" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-bank"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Projects</h4>
                                <p>The best of work.</p>
                                <a [routerLink]="['/projects']" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-badge"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">About Us</h4>
                                <p>Our family built this company on the principles of ethical business practices,
                                    uncompromising standards of safety and quality, and strong leadership.</p>
                                <a [routerLink]="['/aboutus']" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-6">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-credit-card"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Contact Us</h4>
                                <p>Get in touch for the best.</p>
                                <a [routerLink]="['/contactus']" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info">
                            <div class="icon icon-danger">
                                <i class="nc-icon nc-sun-fog-29"></i>
                            </div>
                            <div class="description">
                                <h4 class="info-title">Feedback</h4>
                                <p>We'd love to hear from you.</p>
                                <a [routerLink]="['/feedback']" class="btn btn-link btn-danger">See more</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="section section-dark text-center">
            <div class="container">
                <h2 class="title">Let's talk about us</h2>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/clem-onojeghuo-3.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Henry Ford</h4>
                                        <h6 class="card-category">Product Manager</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    Teamwork is so important that it is virtually impossible for you to reach the
                                    heights of your capabilities or make the money that you want without becoming very
                                    good at it.
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/joe-gardner-2.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Sophie West</h4>
                                        <h6 class="card-category">Designer</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    A group becomes a team when each member is sure enough of himself and his
                                    contribution to praise the skill of the others. No one can whistle a symphony. It
                                    takes an orchestra to play it.
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="card card-profile card-plain">
                            <div class="card-avatar">
                                <a href="#avatar"><img src="./assets/img/faces/erik-lucatero-2.jpg" alt="..."></a>
                            </div>
                            <div class="card-block">
                                <a href="#paper-kit">
                                    <div class="author">
                                        <h4 class="card-title">Robert Orben</h4>
                                        <h6 class="card-category">Developer</h6>
                                    </div>
                                </a>
                                <p class="card-description text-center">
                                    The strength of the team is each individual member. The strength of each member is
                                    the team. If you can laugh together, you can work together, silence isn’t golden,
                                    it’s deadly.
                                </p>
                            </div>
                            <div class="card-footer text-center">
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-twitter"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-google-plus"></i></a>
                                <a href="#pablo" class="btn btn-link btn-just-icon btn-neutral"><i
                                        class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>