<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('./assets/img/guiniting.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="motto text-center">
                <h3>Major Highlights Of Our Company</h3>
            </div>
        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Our Strengths</h2>
                    <h5 class="description">
                        Our strengths is our Basic machines which we use during services given by us:-
<ul>
    <li>Air Compressor(Make Altas Copco and Elgi)</li>
    <li>Blasting Hopper</li>
    <li>Guniting hopper</li>
    <li>Airless painting machine(Make Graco)</li>
</ul>


                    </h5>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Domain Expertise</h2>
                    <h5 class="description">Owing to the rich experience in the industry, we have been able to render effective <strong>Blasting, Painting & Coating Services</strong> to the clients. Specifically demanded for tanks, ships, bridges & machines, these services are rendered by a deft team of adroit professionals who employ modern techniques & genuine tools during the execution process. Further, our professionals carefully look up to every single detail laid down by the clients so as to serve them accordingly. Additionally, no stone is left unturned to assure timely execution of the services. Owing to these attributes, our services are widely demanded in diverse</h5>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Our Team</h2>
                    <h5 class="description">We are supported by a team of highly skilled and qualified professionals who possess in-depth knowledge of the pros & cons of the industry. Owing to this, our professionals strive hard to render effective services within the stipulated time-frames. Further, varied projects undertaken by us are carefully supervised & handled by expert professionals utilizing modern machinery & genuine techniques. Additionally, advanced safety measures are undertaken during the operation process so as to assure a secured & trouble-free execution of services.</h5>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="title">Why Us?</h2>
                    <h5 class="description">Being a client centric organization, we have been successful in catering to the diversified demands of the customers in the best possible manner. No stone is left unturned to achieve the utmost contentment of the clients. Henceforth, we follow ethical trade practices, fair business deals and provide the customers with flexible transaction options.</h5>
                </div>
            </div>
        </div>
    </div>
</div>