<footer class="footer copyright">
    <div class="container">
        <div class="row">
            <nav class="footer-nav">
                <ul>
                    <!-- <li title="Follow us on Twitter"><a href="javascript:void(0)"><i class="fa fa-twitter"></i>
                        <p class="d-lg-none">Twitter</p></a></li> -->
                    <li title="Like us on Facebook"><a href="https://www.facebook.com/SjhContactors/" target="_blank"><i class="fa fa-facebook-square"></i>
                        <p class="d-lg-none">Facebook</p></a></li>
                    <!-- <li title="Follow us on Instagram"><a href="javascript:void(0)"><i class="fa fa-instagram"></i>
                        <p class="d-lg-none">Instagram</p></a></li> -->
                </ul>
            </nav>
            <div class="credits ml-auto">
                <span class="copyright">
                   Copyright © 2020, Shree Jay Hanuman Contractors. Site developed by <a href="https://linkedin.com/in/kuldeep-mane" target="_blank">Kuldeep Mane</a>
                </span>
            </div>
        </div>
    </div>
</footer>
